html, body {
  padding: 0;
  margin: 0;
  background: black;
}

video {
  position: absolute;
  opacity: 0
}

canvas {
  position: absolute;
  height: 100%;
  margin: 0 auto;
  left: 0;
  right: 0;
  opacity: 0.5;
}

#preview {
  position: absolute;
  bottom: 0
}
 
.settings  .wrapper {
  display: none;
}

.settings canvas {
  opacity: 1;
}

.wrapper {
  position: relative;
}

.wrapper .photo {
  position: absolute;
  transition: all 1s;
  border: 10px solid white;
  border-width: 20px 10px;
  opacity: .5;
  background-size: cover;
}

.wrapper .photo.selected {
  opacity: 1;
}

.wrapper .photo.zoom {
  left: 300px !important;
  top: 250px !important;
  transform: scale(2) rotate(0deg) !important;
  z-index: 1;
}
